Repository dimajolkin/tinygo-lilygo-drivers: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-vet:
  name: go vet
  entry: go
  args:
  - vet
  - ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint
  args:
  - run
  - --fix
  language: system
  pass_filenames: false

go-tests:
  name: go test
  entry: go
  args:
  - test
  - -v
  - -race
  - -timeout=5m
  - ./...
  language: system
  pass_filenames: false

docs
  examples/st7789-basic/go.mod
  examples/st7789-basic/main.go
  go.mod
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

fix ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix pipleine
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

added drivers
  README.md
  docs/index.md
  drivers.go
Due: go-fmt, go-vet, golangci-lint, go-tests

update configs
  examples/st7789-basic/go.mod
  go.mod
  go.sum
  st7789/st7789.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

added spi interfaces
  examples/st7789-basic/main.go
  i2c.go
  spi.go
  st7789/st7789.go
  st7789/st7789_test.go
Due: go-fmt, go-vet, golangci-lint, go-tests

tdeck keyboard support
  README.md
  drivers.go
  examples/tdeck-keyboard/main.go
  go.mod
  go.sum
  st7789/st7789.go
  tdeck/keyboard.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

fix
  examples/tdeck-keyboard/main.go
Due: go-fmt, go-vet, golangci-lint, go-tests

added examples
  examples/game-snake/README.md
  examples/game-snake/go.mod
  examples/game-snake/main.go
  examples/st7789-basic/main.go
  examples/st7789-position/README.md
  examples/st7789-position/go.mod
  examples/st7789-position/main.go
  st7789/st7789.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

snake games
  examples/game-snake/main.go
  st7789/st7789.go
Due: go-fmt, go-vet, golangci-lint, go-tests

added same examples, need added pwm to esp32xx
  examples/game-snake/README.md
  examples/game-snake/go.mod
  examples/game-snake/go.sum
  examples/game-snake/main.go
  examples/scd40/README.md
  examples/scd40/go.mod
  examples/scd40/go.sum
  examples/scd40/main.go
  examples/st7789-basic/go.sum
  examples/st7789-basic/main.go
  examples/st7789-basic/main_test.go
  examples/st7789-position/go.mod
  examples/st7789-position/go.sum
  examples/st7789-position/main.go
  st7789/registers.go
  st7789/st7789.go
  st7789/st7789_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

adde pwm
  examples/game-snake/main.go
  st7789/st7789.go
Due: go-fmt, go-vet, golangci-lint, go-tests

added trackball
  drivers.go
  examples/game-snake/main.go
  examples/trackball-cursor/go.mod
  examples/trackball-cursor/go.sum
  examples/trackball-cursor/main.go
  examples/trackball/go.mod
  examples/trackball/main.go
  tdeck/trackball.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

save
  examples/tdeck-speaker/README.md
  examples/tdeck-speaker/arduino.md
  examples/tdeck-speaker/go.mod
  examples/tdeck-speaker/main.go
  tdeck/keyboard.go
  tdeck/pins.go
  tdeck/trackball.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

save
  examples/game-snake/main.go
  examples/i2s_tdeck_speaker.go
  examples/tdeck-speaker/arduino.md
  examples/tdeck-speaker/main.go
Due: go-fmt, go-vet, golangci-lint, go-tests

added example lylygo
  examples/battery/README.md
  examples/battery/go.mod
  examples/battery/go.sum
  examples/battery/main.go
  examples/game-snake/main.go
  examples/tdeck-speaker/main.go
  st7789/font.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

save battery test
  examples/battery/README.md
  examples/battery/main.go
  tdeck/battery.go
  tdeck/pins.go
Due: go-fmt, go-vet, golangci-lint, go-tests

update battery
  examples/game-snake/main.go
  tdeck/battery.go
Due: go-fmt, go-vet, golangci-lint, go-tests

update
  examples/battery/main.go
  examples/tdeck-sdcard/README.md
  examples/tdeck-sdcard/go.mod
  examples/tdeck-sdcard/go.sum
  examples/tdeck-sdcard/main.go
  tdeck/battery.go
  tdeck/pins.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-tests

update games
  examples/game-snake/README.md
  examples/game-snake/main.go
Due: go-fmt, go-vet, golangci-lint, go-tests

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-tests: any of: \.go$
